:root {
  --material-unselected: #844236;
  --material-selected: #cb844e;
}

.material.input {
  position: relative;
  margin: 40px auto 20px auto; /* top & bottom spacing, centered horizontally */
  width: 500px;
}

.form-header {
  text-align: center;
  color: #844236; /* or whatever color fits your theme */
  font-size: 45px;
  margin-top: 40px;
  margin-bottom: 20px;
}


.material.input input {
  font-size: 18px;
  padding: 10px 10px 10px 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--material-unselected);
  margin: 2px 0;
  background: transparent;
  color: white;
}

.material.input input:focus {
  outline: none;
}

.material.input input[type="password"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* LABEL */
.material.input label {
  color: var(--material-unselected);
  font-size: 25px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 1px;
  top: 10px;
  transition: 0.2s ease all;
  cursor: text;
}

/* BOTTOM BAR */
.material.input .bar {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  top: -3px;
}

.material.input .bar .left,
.material.input .bar .right {
  height: 0;
  position: absolute;
  background: var(--material-selected);
  transition: 0.3s ease height;
}

.material.input .bar .left {
  left: 0;
  width: 50%;
}

.material.input .bar .right {
  right: 0;
  width: 50%;
}

/* HIGHLIGHTER */
.material.input .highlight-bar {
  position: absolute;
  height: 25px;
  width: 20px;
  top: 10px;
  left: 50px;
  pointer-events: none;
  opacity: 0.5;
}

/* LABEL FLOAT */
.material.input.up label {
  top: -20px;
  font-size: 14px;
}

.material.input.focused .bar .left,
.material.input.focused .bar .right {
  height: 2px;
}

.material.input.focused.up label {
  color: var(--material-selected);
}

.material.input.focused.down .highlight-bar {
  animation: material-input-text-highlight-bar 0.3s ease;
}

/* ANIMATION */
@keyframes material-input-text-highlight-bar {
  from {
    background: var(--material-selected);
  }
  to {
    width: 0;
    left: 0;
    background: transparent;
  }
}
