@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  background-color: lightyellow;
}

body {
  font-family: "Poppins", sans-serif;
  color: darkblue;
  text-align: center;
}

button {
  background-color: darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}