<!DOCTYPE html>
<html>
    <head>
        <title>Add Transaction Types</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='add_transactions.css') }}">
    </head>
    <body>
        <form action="">
            <select name="type[]" class="custom-select" multiple>
                <option value="food">Food</option>
                <option value="utilities">Utilities</option>
                <option value="rent">Rent</option>
                <option value="housing">Housing</option>
                <option value="transporation">Transporation</option>
                <option value="shopping">Shopping</option>
                <option value="education">Education</option>
                <option value="health">Health</option>
                <option value="other">Other</option>
            </select>
        </form>

        <!-- <div class="select">
            <div class="select_item">Food</div>
            <div class="select_item">Utilities</div>
            <div class="select_item">Rent</div>
            <div class="select_item">Housing</div>
            <div class="select_item">Transporation</div>
            <div class="select_item">Shopping</div>
            <div class="select_item">Education</div>
            <div class="select_item">Health</div>
            <div class="select_item">Other</div>
        </div> -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>